
/* 헤더, 푸터 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
html, body {margin: 0;}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.headerText {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
#searchBar {
    width:250px;
    height:30px;
    border: white 2px solid;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* 메인페이지 */
main {
    flex:1;
    width:50%;
    max-width: 1200px;
    min-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.container {
    display: flex;
    justify-content: center;
}
.box {
    display: flex;
    justify-content: center;
    width:100px;
    height: 100px;
    margin: 5px 5px;
    background-color: lightgray;
}
.mainText {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}
.texts {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.poster{
    width:130px;
    height:180px;
    background-color: lightgray;
}
.musicals {
    display: flex;
    justify-content: space-between;
    margin-top : 5px;
    margin-bottom : 10px;
    /* gap: 10px; */
}
.musicalItem {
    flex: 1;
    text-align: center;
}
.titleText, .clickText {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 15px;
    color: black;
}
.thumbnail {
    /* width:200px; */
    width: 100%;
    aspect-ratio: 16 / 9;
    /* height:130px; */
    background-color: lightgray;
    box-sizing: border-box;
}
.videos {
    display: flex;
    justify-content: space-between;
    margin-top : 5px;
    margin-bottom : 10px;
    gap: 20px;
    /* flex-wrap: wrap; */
}
.videoItem {
    flex: 1;
    min-width: 200px;
    text-align: center;
}
.reviewContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개씩 */
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}
.review {
    display: flex;
    background: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.reviewText {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 15px;
    color: black;
    margin: 10px;
    display:flex;
    flex-direction: column;
}
.reviewTextTitle {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
/* div{
    border: black 1px solid;
} */