<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.curtaincall.musical.mapper.MusicalMapper">

	<!-- 전체 리스트 조회-->
	<select id="selectAllMusical" resultType="Musical">
		SELECT * FROM musical
	</select>
	
	<!-- 개별 항목 조회 -->
	<select id="selectMusical" parameterType="int" resultType="Musical">
		SELECT * FROM musical
		WHERE musical_id = #{id} <!-- id 넣어도 되나? -->
	</select>
	
	<!-- 동적쿼리 : 검색 -->
	<select id="selectMusicalByCondition" parameterType="SearchCondition" resultType="Musical">
        SELECT m.*
		FROM musical AS m
		JOIN tag_connection AS c ON m.musical_id = c.musical_id
		JOIN hashtag AS t ON c.tag_id = t.tag_id
		LEFT JOIN like_musical AS l ON m.musical_id = l.musical_id

        <where>
            <if test="hashtag != null and hashtag.size() > 0">
                t.tag IN
                <foreach collection="hashtag" item="tag" open="(" separator="," close=")">
                    #{tag}
                </foreach>
            </if>
            <if test="keyword != null">
            		AND m.title like CONCAT ('%', #{keyword}, '%')
            	</if>
            	<if test="theater != null">
            		AND m.theater like CONCAT ('%', #{theater}, '%')
            	</if>
            	<if test="date != null">
	            AND #{date} BETWEEN m.start_date AND m.end_date
	        </if>
	        <if test="fromDate != null">
			    AND m.start_date &gt; #{fromDate}
			</if>
			<if test="startDate != null">
		        AND m.start_date &lt;= #{endDate}
		    </if>
			<if test="endDate != null">
		        AND m.end_date &gt;= #{startDate}
		    </if>
			
        </where>
        GROUP BY m.musical_id
        <choose>
            <when test="orderBy == 'random'">
                ORDER BY RAND()
            </when>
            <when test="orderBy == 'likes'">
                ORDER BY COUNT(l.musical_id) ${order}
            </when>
            <when test="orderBy == 'title'">
                ORDER BY m.title ${order}
            </when>
            <when test="order != null">
                ORDER BY m.musical_id ${order}
            </when>
            <otherwise>
               	ORDER BY m.musical_id DESC
            </otherwise>
        </choose>
        <!-- 페이징 limit : size, offset : 어디서부터? -->
        	<if test="size != null and offset != null">
            	LIMIT #{size} OFFSET #{offset}
        </if>
    </select>
    
    <!-- 좋아요 있는지 확인 -->
    <select id="existsLike" resultType="int">
    		SELECT count(*) FROM like_musical WHERE musical_id = #{musicalId} AND user_id = #{userId}
    </select>
    
    <!-- 좋아요 등록 -->
    <insert id="insertLike">
    		INSERT INTO like_musical VALUES (#{userId}, #{musicalId})
    </insert>
    
    <!-- 좋아요 삭제 -->
    <delete id="deleteLike">
    		DELETE FROM like_musical WHERE musical_id = #{musicalId} AND user_id = #{userId}
    </delete>
    
    <!-- 뮤지컬 좋아요 수 얻기 -->
    <select id="selectLike" resultType="int" parameterType="int">
    		SELECT count(*) FROM like_musical WHERE musical_id = #{musicalId}
    </select>
    
	<!-- 뮤지컬 태그 리스트 얻기 -->
    <select id="selectTag" resultType="Tag" parameterType="int">
    		SELECT t.tag FROM musical AS m
		LEFT JOIN tag_connection AS c ON m.musical_id = c.musical_id
		LEFT JOIN hashtag AS t ON c.tag_id = t.tag_id
        where m.musical_id = #{id};
    </select>
    
    <select id="selectLikedMusicals" resultType="Musical">
    		SELECT m.* FROM musical as m JOIN like_musical as l
    		ON m.musical_id = l.musical_id
    		WHERE user_id = #{userId}
    		ORDER BY m.musical_id;
    </select>
</mapper>