<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.curtaincall.review.mapper.ReviewMapper">

    <!-- 전체 리뷰 조회 -->
    <select id="selectAllReview" resultType="Review">
        SELECT *
        FROM review
    </select>
    
    <!-- 개별항목조회  -->
   	<select id="selectReview" parameterType="int" resultType="MyReviewDto">
		SELECT r.review_id, r.content, r.rate, r.create_date, m.musical_id,
	        m.title AS title, m.image AS image,
			u.user_id, u.nickname AS nickname,
			(
            SELECT COUNT(*)
            FROM like_review lr
            WHERE lr.review_id = r.review_id
        	) AS like_count
	    FROM review r
	    JOIN musical m ON r.musical_id = m.musical_id
	    JOIN users u ON r.user_id = u.user_id
		WHERE review_id = #{reviewId}
	</select>
	
	<select id="selectReviewById" parameterType="int" resultType="MyReviewDto">
		SELECT * FROM review
		WHERE review_id = #{reviewId}
	</select>
	
	<select id="selectMyReview" parameterType="int" resultType="MyReviewDto">
		SELECT r.review_id, r.content, r.rate, r.create_date,
	        m.title AS title, m.image AS image,
			u.user_id, u.nickname AS nickname,
			(
            SELECT COUNT(*)
            FROM like_review lr
            WHERE lr.review_id = r.review_id
        	) AS like_count
	    FROM review r
	    JOIN musical m ON r.musical_id = m.musical_id
	    JOIN users u ON r.user_id = u.user_id
	    WHERE r.user_id = #{userId}
	    ORDER BY r.review_id DESC
	</select>
	
	<select id="selectTopReview" parameterType="int" resultType="MyReviewDto">
		SELECT r.review_id, r.content, r.rate, r.create_date, m.musical_id,
	        m.title AS title, m.image AS image,
			u.user_id, u.nickname AS nickname,
			(
            SELECT COUNT(*)
            FROM like_review lr
            WHERE lr.review_id = r.review_id
        	) AS like_count
	    FROM review r
	    JOIN musical m ON r.musical_id = m.musical_id
	    JOIN users u ON r.user_id = u.user_id
	    ORDER BY like_count DESC
	    limit 4;
	</select>
	
	<!--조건부 게시글 조회 (검색, 카테고리, 페이징) -->
    <select id="selectReviewByCondition" parameterType="ReviewSearchCondition" resultType="MyReviewDto">
        SELECT r.review_id, r.content, r.rate, r.create_date, m.musical_id,
	        m.title AS title, m.image AS image,
			u.user_id, u.nickname AS nickname,
			(
            SELECT COUNT(*)
            FROM like_review lr
            WHERE lr.review_id = r.review_id
        	) AS like_count
	    FROM review r
	    JOIN musical m ON r.musical_id = m.musical_id
	    JOIN users u ON r.user_id = u.user_id
        WHERE m.musical_id = #{musicalId}
        ORDER BY r.review_id DESC
    </select>
    
    <!-- 평점 조회 -->
    <select id="selectReviewRate" parameterType="int" resultType="java.lang.Double">
	    SELECT ROUND(AVG(rate), 1) FROM review
		WHERE user_id = #{userId};
	</select>
	
	<!-- 평점 통계 -->
	<select id="selectReviewRateStats" parameterType="int" resultType="ReviewRateDto">
		SELECT n.rate, COUNT(r.review_id) AS count
		FROM (
		  SELECT 1 AS rate UNION ALL
		  SELECT 2 UNION ALL
		  SELECT 3 UNION ALL
		  SELECT 4 UNION ALL
		  SELECT 5
		) n
		LEFT JOIN review r
		  ON r.rate = n.rate
		 AND r.user_id = #{userId}
		GROUP BY n.rate
		ORDER BY n.rate;
	</select>
    
 	<!-- 게시글 등록 -->
    <insert id="insertReview" parameterType="Review" 
    useGeneratedKeys="true" keyProperty="reviewId">
        INSERT INTO review(musical_id, user_id, content, rate, create_date)
        VALUES(#{musicalId}, #{userId}, #{content}, #{rate}, NOW())
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateReview" parameterType="Review">
        UPDATE review
        SET content = #{content},
            rate = #{rate}
        WHERE review_id = #{reviewId}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteReview" parameterType="int">
        DELETE FROM review
        WHERE review_id = #{reviewId}
    </delete>
    
    
    
    
    <!-- 좋아요 있는지 확인 -->
    <select id="existsLike" resultType="int">
    		SELECT count(*) FROM like_review WHERE review_id = #{reviewId} AND user_id = #{userId}
    </select>
    
    <!-- 좋아요 등록 -->
    <insert id="insertLike">
    		INSERT INTO like_review VALUES (#{userId}, #{reviewId})
    </insert>
    
    <!-- 좋아요 삭제 -->
    <delete id="deleteLike">
    		DELETE FROM like_review WHERE review_id = #{reviewId} AND user_id = #{userId}
    </delete>
    
    <!-- 뮤지컬 좋아요 수 얻기 -->
    <select id="selectLike" resultType="int" parameterType="int">
    		SELECT count(*) FROM like_review WHERE review_id = #{reviewId}
    </select>
	
</mapper>