<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.curtaincall.user.mapper.UserMapper">

	<!-- 전체 리스트 조회-->
	<select id="selectAllUser" resultType="User">
		SELECT * FROM users
	</select>
	
	<!-- 개별 항목 조회 -->
	<select id="selectUser" parameterType="String" resultType="User">
		SELECT * FROM users
		WHERE username = #{username}
	</select>
	
	<!-- 개별 항목 조회 -->
	<select id="selectUserById" parameterType="int" resultType="User">
		SELECT * FROM users
		WHERE user_id = #{userId}
	</select>
	
	<!--유저의 좋아요/리뷰 개수-->
	<select id="selectCount" parameterType="int" resultType="LikeCountDto">
		SELECT
		  (SELECT COUNT(*) FROM like_musical WHERE user_id = #{userId}) AS likeMusicalCount,
		  (SELECT COUNT(*) FROM like_review  WHERE user_id = #{userId}) AS likeReviewCount,
		  (SELECT COUNT(*) FROM like_actor   WHERE user_id = #{userId}) AS likeActorCount,
		  (SELECT COUNT(*) FROM review       WHERE user_id = #{userId}) AS reviewCount;
	</select>
	
	<!-- 닉네임 -->
    <select id="selectNickname" parameterType="int" resultType="string">
        SELECT nickname
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 최근 본 뮤지컬 -->
    <select id="selectRecentMusicals" parameterType="int" resultType="Musical">
        SELECT m.*
        FROM review r
        JOIN musical m ON r.musical_id = m.musical_id
        WHERE r.user_id = #{userId}
        ORDER BY r.create_date DESC
        LIMIT 3
    </select>

    <!-- 자주 본 배우 -->
    <select id="selectFavoriteActors" parameterType="int" resultType="ActorMeetDto">
        SELECT a.*, count(*) as count FROM users as u
		join review as r ON u.user_id = r.user_id
		join musical as m on m.musical_id = r.musical_id
		join cast as c on c.musical_id = m.musical_id
		join actor as a on c.actor_id = a.actor_id
		where u.user_id = #{userId}
		group by a.actor_id
		order by count(*) desc;
    </select>
	
	<!-- 이메일 조회
	<select id="getEmail" parameterType="String" resultType="User">
		SELECT * FROM users
		WHERE email = #{email}
	</select>
	
	휴대폰 조회
	<select id="getPhone" parameterType="String" resultType="User">
		SELECT * FROM users
		WHERE phone = #{phone}
	</select>-->
	
	<!--회원가입-->
	<insert id="signup" parameterType="User">
		INSERT INTO users (username, password, name, email, phone, nickname)
		VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{nickname})
	</insert>
	
	<!--수정-->
	<update id="updateUser" parameterType="User">
		UPDATE users
	  <set>
	    <if test="password != null">
	      password = #{password},
	    </if>
	    name = #{name},
	    email = #{email},
	    nickname = #{nickname}
	  </set>
	  WHERE user_id = #{userId}
	</update>
	
	
	<!-- 삭제 -->
	<delete id="deleteUser" parameterType="int">
		DELETE FROM users
		WHERE user_id=#{id}
	</delete>
	
	<select id="selectDbName" resultType="map">
	    SELECT @@hostname AS host, @@port AS port, @@datadir AS datadir
	</select>


</mapper>