<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.curtaincall.video.mapper.VideoMapper">

	<!-- 전체 리스트 조회 최신순으로 -->
	<select id="selectAllVideo" resultType="Video">
	    SELECT *FROM video
	    ORDER BY video_id DESC
	</select>
	<!-- 개별 항목 조회 -->
	<select id="selectVideo" parameterType="int" resultType="Video">
		SELECT * FROM video
		WHERE video_id = #{id}
	</select>

	
	<!-- 전체 영상 조회 (조회수 많은 순) -->
	<select id="getVideoByViews" resultType="Video">
	    SELECT * FROM video
	    ORDER BY view_cnt DESC
	</select>
	
</mapper>