<header style="height:60px; background-color: #ba2c2b; width:100%;
                    display:flex; align-items: center; justify-content: space-between;">
        <div style="display:flex; align-items: center;">            
            <img src="./static/curtaincall.png" width="100px">
            <div class="headerText">뮤지컬</div>
            <div class="headerText">배우</div>
            <div class="headerText">커뮤니티</div>
        </div>
        <div style="display:flex">
            <div id="searchBar">
                <i class="bi bi-search" style="color:white; margin-right: 10px;"></i>
            </div>
            <div id="myPage">
                <i class="bi bi-person-fill" style="color:white; margin: 0 20px; font-size: 25px;"></i>
            </div>
        </div>
    </header>